*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: inherit;
}
 body{
     background: rgb(236, 235, 236);   
 }

 .wrapper{
     display: flex;
     position: relative;
     

 }
 .wrapper .sidebar{
     position: fixed;
     width: 200px;
     height: 100%;
     background: maroon;
     padding: 30px 10px;
     font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     color: rgb(8, 0, 2);
 }
 .wrapper .sidebar ul li{
     padding: 15px;
     border-bottom:mediumorchid;
     border-color: mediumorchid;
 }
 .wrapper .sidebar ul li a{
     color: rgb(252, 248, 252);
     display: block;
     font-family:sans-serif;
 }
 .wrapper .sidebar ul li a .fas{
     width: 25px;
 }
 .wrapper .sidebar ul li:hover{
     background:rgb(15, 0, 0);
 }
 .wrapper .main_content{
     width: 100%;
     margin-left: 200px;
 }
 .wrapper .main_content .header{
     padding: 20px 400px;
     background:rgb(245, 198, 198);
     color: rgb(1, 10, 5);
     font-size: 350%;
     font-family:fantasy;
 }
 .wrapper .main_content .header .info{
     font-size: 500px;
    

 }
 .box{
     display: block;
     float:left;
     width: 33%;
 }
 
 img{
     padding: 100px 0;
     width: 100%;
    
 }