.header{
    font-size: 80px;
    font-family:cursive;
    color: brown;
    text-align: center;
}
.info{
    font-size: 30px;

}
body{
    background-color: rgb(245, 207, 157);
}
.container .description-container{
    font-size: 25px;
}
.container .description-container h1{
    color: rgb(236, 22, 58);
}